@import './reset.css';
@import './vars.css';
@import './backgrounds.css';
@import './dragDrop.css';

body {
  font-family: Arial, sans-serif;
  font-weight: 100;
}

li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 3% 10% auto auto 3%;
  grid-template-rows: auto auto auto auto;
  border-radius: var(--cornerRadiusMed);
  grid-template-areas:
    "spacerLeft header header header spacerRight"
    "spacerLeft nav main editConfiguration spacerRight"
    "spacerLeft options main editConfiguration spacerRight"
    "spacerLeft footer footer footer spacerRight ";
}

.panelShadow {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.42);
}

header {
  grid-area: header;
  text-align: center;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  height: 90vh;
}

.spacerLeft {
  grid-area: spacerLeft;
}

.spacerRight {
  grid-area: spacerRight;
}

.editConfiguration {
  grid-area: editConfiguration;
}

.options {
  grid-area: options;
}

footer {
  grid-area: footer;
  text-align: center;
}

img {
  width: 757px;
  height: 70px;
}

.sectionHeader {
  text-align: right;
  font-size: 1.0em;
  font-weight: 100;
  overflow: hidden;
  padding: var(--paddingMin);
}