.topRadius {
  border-top-left-radius: var(--cornerRadiusMin);
  border-top-right-radius: var(--cornerRadiusMin);
  /* border: 1px solid var(--darkerTintColorHalf); */
}

.sectionHeaderBorder {
  border: 1px solid var(--darkerTintColorHalf);
}