:root {
  --sectionHeaderFontSize: 1.1rem;
  --headerBackgroundColor: rgba(0, 0, 0, 0.2);
  --headerTextColor: rgba(255, 255, 255, 0.55);
  --darkerTintColor: rgba(0, 0, 0, 0.2);
  --darkerTintColorHalf: rgba(255, 255, 255, 0.09);

  --darkest: #1C1C1C;
  --mainDark: hsl(207, 13%, 27%);
  --mainDarkLighter: rgba(111, 32, 43, 0.9);
  --mainLight: #FCFBFC;

  --mainPrimary: rgb(111, 32, 43);
  --mainPrimaryHighlight: #AD6068;

  --mainSecondary: #13374D;
  --mainSecondaryHighlight: #678699;

  --lightestHighlightPrimary: #F3FFF7;
  /* light green LED */
  --lightestHighlightSecondary: #FFFBF3;
  /* light red LED */


  --cornerRadiusMin: 7px;
  --cornerRadiusMed: 17px;
  --cornerRadiusMax: 25px;

  --paddingMin: 5px;
  --paddingMed: 10px;
  --paddingMax: 15px;
}