:root {
  --sectionHeaderFontSize: 1.1rem;
  --headerBackgroundColor: rgba(0, 0, 0, 0.2);
  --headerTextColor: rgba(255, 255, 255, 0.55);
  --darkerTintColor: rgba(0, 0, 0, 0.2);
  --darkerTintColorHalf: rgba(255, 255, 255, 0.07);

  --darkest: #1C1C1C;
  --mainDark: hsl(207, 13%, 37%);
  --mainDarkLighter: rgba(111, 32, 43, 0.9);
  --mainLight: #FCFBFC;
  --mainBackground: #1C1C1C;

  --mainPrimary: hsl(352, 25%, 28%);
  --mainPrimaryHighlight: #AD6068;

  --mainSecondary: #13374D;
  --mainSecondaryHighlight: #678699;

  --lightestHighlightPrimary: #F3FFF7;
  /* light green LED */
  --lightestHighlightSecondary: #FFFBF3;
  /* light red LED */

  --actionSuccess: hsl(120, 41%, 32%);
  --actionSuccessHover: hsl(120, 41%, 42%);
  --actionSuccessActive: hsl(120, 41%, 35%);
  --actionOperation: hsl(206, 88%, 41%);
  --actionOperationHover: hsl(206, 88%, 51%);
  --actionOperationActive: hsl(206, 88%, 31%);
  --actionFail: hsl(0, 45%, 43%);
  --actionFailHover: hsl(0, 45%, 53%);
  --actionFailActive: hsl(0, 45%, 46%);
  --actionOverlay: rgba(255, 255, 255, 0.5);

  /* Transparencies */
  --transparent: rgba(0, 0, 0, 0);
  --transparentDark: rgba(0, 0, 0, 0.2);
  --transparentLight: rgba(255, 255, 255, 0.5);

  --cornerRadiusMin: 7px;
  --cornerRadiusMed: 17px;
  --cornerRadiusMax: 25px;

  --paddingMin: 5px;
  --paddingMed: 10px;
  --paddingMax: 15px;
}